.header {
  padding-top: 1em;
  padding-bottom: 60px;
  z-index: 1;
}

.header .btn-logo {
  font-weight: bold;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.header .btn-logo:hover {
  transform: scale(1.1);
}